<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="dashboard-header">
          <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="#"> Password</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item dropdown notification">
                  <!-- Button trigger modal -->
                  <button
                    type="button"
                    class="btn btn-dark mt-2 mr-2"
                   routerLink="/products"

                  >
                    Back
                  </button>
  
                  
                </li>
  
                <!-- <li class="nav-item dropdown nav-user">
                  <a
                    class="nav-link nav-user-img"
                    href="#"
                    id="navbarDropdownMenuLink2"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    ><img
                      src="https://img.icons8.com/dusk/100/000000/user-female-circle.png"
                      alt=""
                      class="user-avatar-md rounded-circle"
                  />
                </a>
                  <div
                    class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                    aria-labelledby="navbarDropdownMenuLink2"
                  >
                  </div>
                </li> -->
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="mt-4"></div>
    </div>
  </div>

<!-- 
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-4">
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">
              <div class="mt-3 mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  class="rounded-circle img-fluid" style="width: 100px;" />
              </div>
              <h4 class="mb-2">Julie L. Arsenault</h4>
              <p class="text-muted mb-4">@Programmer <span class="mx-2">|</span> <a
                  href="#!">mdbootstrap.com</a></p>
              <div class="mb-4 pb-2">
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-facebook-f fa-lg"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-twitter fa-lg"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-skype fa-lg"></i>
                </button>
              </div>
              <button type="button" class="btn btn-primary btn-rounded btn-lg">
                Message now
              </button>
              <div class="d-flex justify-content-between text-center mt-5 mb-2">
                <div>
                  <p class="mb-2 h5">8471</p>
                  <p class="text-muted mb-0">Wallets Balance</p>
                </div>
                <div class="px-3">
                  <p class="mb-2 h5">8512</p>
                  <p class="text-muted mb-0">Income amounts</p>
                </div>
                <div>
                  <p class="mb-2 h5">4751</p>
                  <p class="text-muted mb-0">Total Transactions</p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section> -->
  
  <div class="wrapper  " >
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div >
        <img src="https://us.123rf.com/450wm/bilahstudio/bilahstudio2103/bilahstudio210301065/166363678-modern-style-vector-illustration-remember-people-character-password-with-security-code-sign-lock.jpg?ver=6"
          id="icon" alt="User Icon" style="width: 250px;" />
      </div>
  
      <!-- Login Form -->
      
      <form [formGroup]="loginform" (ngSubmit)="onSubmit()" novalidate style="margin: 50px">
        <h3>Create New Password</h3>
        <div style="margin-top: 30px;">
        <input [class.is-invalid]="
          f['newpass'].invalid && f['newpass'].touched
        " type="text" id="login" class=" second" name="login" placeholder="New Password" minlength="8" maxlength="8" formControlName="newpass">
  
        <span style="color: red;   text-align: left;" *ngIf="f['newpass'].invalid && f['newpass'].touched">
          Required 8 charecters
        </span>
  </div>
  <div style="margin-top: 30px;">
        <input type="password" id="password" class=" third" name="login" placeholder="Confirm Password" minlength="8" maxlength="8"
          formControlName="password" (keyup)="CheckPass()">
        <span style=" text-align: left; color: red;" *ngIf="f['password'].invalid && f['password'].touched">
          password didn't matched
        </span>
        </div>
        <div style="margin-top: 20px;">
          <button type="submit" class="btn btn-primary  ">Save </button>
        </div>
        
       
      </form>

     
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter" > b
        <h5>Forgot Password?? <a style="
          font-size: 1rem; color: blue;" routerLink="/forget-password">Reset here</a></h5>
      
              
      </div> -->
  
    </div>
  </div>