<!-- <div class="tab-content">
    <div class="container" aria-labelledby="tab-login">
      <h3>Enter OTP</h3><br>
       <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
         <div >
            <div>
              <label for="otp"><span style="color:red;" >*</span> Enter OTP:</label>
              <input [ngClass]="{'is-invalid':submited 
                     && loginformcontrol.otp.errors}" 
                     type="number" name="otp" placeholder="OTP" 
                     class="form-control" 
                     formControlName="otp" maxlength="4">
             </div>

             <div *ngIf="(loginformcontrol.otp.touched) 
                     && loginformcontrol.otp.errors">
                <small style="color: red;">
                    OTP is Required
               </small>
             </div>
     
          

             <button class="btn btn-primary btnLoginRegister" type="submit">Submit</button>&nbsp;
              -->
             


<!-- <form [formGroup]="loginform" (ngSubmit)="onSubmit()">   
  <div  style="    align-items: center;
  margin-left: 686px;
  margin-top: 173px;" class="subscribe">
    <p>OTP</p>
    <input [ngClass]="{'is-invalid':submited 
    && loginformcontrol.otp.errors}" 
    type="number" name="otp" placeholder="OTP" 
    class="form-control" 
    formControlName="otp" maxlength="4">
    <br>
    <div type="submit" class="submit-btn">Submit </div>
  </div>
</form> -->

<div class="container register" >
  <form class="form" [formGroup]="Otpvalidation" (ngSubmit)="onSubmit()"  novalidate>
      <p class="heading">Verify</p>
     
     
  
     
      <svg class="check" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" xml:space="preserve">  <image id="image0" width="60" height="60" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAQAAACQ9RH5AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
    AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
    cwAACxMAAAsTAQCanBgAAAAHdElNRQfnAg0NDzN/r+StAAACR0lEQVRYw+3Yy2sTURTH8W+bNgVf
    aGhFaxNiAoJou3FVEUQE1yL031BEROjCnf4PLlxILZSGYncuiiC48AEKxghaNGiliAojiBWZNnNd
    xDza3pl77jyCyPzO8ubcT85wmUkG0qT539In+MwgoxQoUqDAKDn2kSNLlp3AGi4uDt9xWOUTK3xg
    hVU2wsIZSkxwnHHGKZOxHKfBe6rUqFGlTkPaVmKGn6iYao1ZyhK2zJfY0FZ9ldBzsbMKxZwZjn/e
    5szGw6UsD5I0W6T+hBhjUjiF7bNInjz37Ruj3igGABjbtpIo3GIh30u4ww5wr3fwfJvNcFeznhBs
    YgXw70TYX2bY/ulkZhWfzfBbTdtrzjPFsvFI+T/L35jhp5q2owDs51VIVvHYDM9sa/LY8XdtKy1l
    FXfM8FVN2/X2ajctZxVXzPA5TZvHpfb6CFXxkerUWTOcY11LX9w0tc20inX2mmF4qG3upnNWrOKB
    hIXLPu3dF1x+kRWq6ysHpkjDl+7eQjatYoOCDIZF3006U0unVSxIWTgTsI3HNP3soSJkFaflMDwL
    3OoHrph9YsPCJJ5466DyOGUHY3Epg2rWloUxnMjsNw7aw3AhMjwVhgW4HYm9FZaFQZ/bp6QeMRQe
    hhHehWKXGY7CAuSpW7MfKUZlAUqWdJ3DcbAAB3guZl9yKC4WYLfmT4muFtgVJwvQx7T2t0mnXK6J
    XlGGyAQvfNkaJ5JBmxnipubJ5HKDbJJsM0eY38QucSx5tJWTVHBwqDDZOzRNmn87fwDoyM4J2hRz
    NgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMy0wMi0xM1QxMzoxNTo1MCswMDowMKC8JaoAAAAldEVY
    dGRhdGU6bW9kaWZ5ADIwMjMtMDItMTNUMTM6MTU6NTArMDA6MDDR4Z0WAAAAKHRFWHRkYXRlOnRp
    bWVzdGFtcAAyMDIzLTAyLTEzVDEzOjE1OjUxKzAwOjAwIIO3fQAAAABJRU5ErkJggg=="></image>
    </svg>
  

      
      <div class="box">
     
      <input class="input" (keyup)="onDigitInput($event)" pattern="^[0-9]*$" formControlName="digit1"  type="text" maxlength="1">
    
     
      <input class="input" (keyup)="onDigitInput($event)" pattern="^[0-9]*$" formControlName="digit2" type="text" maxlength="1">  

      <input class="input" (keyup)="onDigitInput($event)" pattern="^[0-9]*$" formControlName="digit3" type="text" maxlength="1">  
      <input class="input" (keyup)="onDigitInput($event)" pattern="^[0-9]*$" formControlName="digit4"type="text" maxlength="1"> 
      <input class="input" (keyup)="onDigitInput($event)" pattern="^[0-9]*$" formControlName="digit5"type="text" maxlength="1"> 
      <input class="input" (keyup)="onDigitInput($event)" pattern="^[0-9]*$" formControlName="digit6"type="text" maxlength="1"> 
      
  
      <button class="btn1">Verify</button>
   
   
         
      

      </div>
      <div  class="container d-flex p-0" style="margin-top: 50px;margin-left: -50px; ">    
        
            <span style="margin-left: 82px;" class="text-danger" *ngIf="(myFormControl.digit1.touched || submitted) && myFormControl.digit1.errors">
                1st digit!!
            </span>
            
                <span style="margin-left: 82px;" class="text-danger" *ngIf="(myFormControl.digit2.touched || submitted) && myFormControl.digit2.errors">
                  2nd digit!!
                </span>
                
                  <span style="margin-left: 82px;" class="text-danger" *ngIf="(myFormControl.digit3.touched || submitted) && myFormControl.digit3.errors">
                    3rd digit!!
                  </span> <span style="margin-left: 82px;" class="text-danger" *ngIf="(myFormControl.digit4.touched || submitted) && myFormControl.digit4.errors">
                    4th digit!!
                  </span>
                  <span style="margin-left: 82px;" class="text-danger" *ngIf="(myFormControl.digit5.touched || submitted) && myFormControl.digit5.errors">
                    5th digit!!
                  </span>
                  <span style="margin-left: 82px;" class="text-danger" *ngIf="(myFormControl.digit6.touched || submitted) && myFormControl.digit6.errors">
                    6th digit!!
                  </span>
          
          
          
          </div>
    </form>
   
 
 
  
      </div>
      
     


