<div class="wrapper  " >
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div >
        <img src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1123.jpg?w=2000"
          id="icon" alt="Icon" style="width: 250px;" />
      </div>
  
      <!-- Login Form -->
      
      <form [formGroup]="resetform" (ngSubmit)="onSubmit()" novalidate style="margin: 10px;">
        <h3>Reset Password</h3>
        <input [class.is-invalid]="
          f['email'].invalid && f['email'].touched
        " type="text" id="login" class=" second" name="login" placeholder="Registerd Email" formControlName="email">
  <br>
        <span style="color: red;   text-align: left;" *ngIf="f['email'].invalid && f['email'].touched">
          Email is required
        </span>
  
       
        <!-- <br><br><select  style="font-weight: lighter;border: none;font-size: 2rem;" class="select  fourth">
             
              <option value="0" selected disabled>Your Role</option>
              <option value="Patient">Patient</option>
              <option value="Provider">Provider</option>
              
            </select><br> -->
        <br>
        <br>
        <!-- <input type="submit" class=" fourth" value="Log In"> -->
        <button type="submit" class="btn btn-primary  ">Send email </button>
        <!-- or
        <button style="margin-left:5px ;"
         class="btn btn-secondary  " routerLink="/register">Register </button> -->
        
        <!-- <br><button style="font-size: 1.4rem; " type="button" (click)="onSubmit(log)" class="btn btn-primary">Log IN</button> -->
      </form>
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter" >
        <h6>Forgot Password?? <a style="
          font-size: 1rem; color: blue;" routerLink="/register">Reset here</a></h6>
      
              
      </div> -->
  
    </div>
  </div>